.logo {
	height: 150px;
}

.color-black li {
	color: black;
}

.logo-url-spacing {
	margin-right: 10%;
}

.url-spacing li {
	margin-right: 20px;
}

//.icon-phone {
//	background: url('../../../assets/icons/blueicon-phone.png') center center;
//	padding: 50px;
//	background-position: center;
//	background-repeat: no-repeat;
//	background-size: cover;
//}

.custom-nav {
	top: 0;
	z-index: 1000;
	width: 100%;
	position: fixed;
	background: white;
	box-shadow: 0 7px 15px 0 rgba(238, 238, 244, 0.58);
}