.about_us_container {
  position: relative;
  font-family: Rubik-Light, 'sans-serif';
  border-top: 6.5px #13f7c9 solid;
}

.about_us_inner {
  padding: 0px 110px 0px 110px;
  background-color: #fffffff2;
}

.about_us_section {
  background-color: #fffffff2;
  padding: 20px 0px 44px 0px;
}

.Rectangle-img {
  width: 1366px;
  height: 512px;
}


.About-Us {
  width: 109px;
  height: 18px;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #23b5eb;
  margin: 63px 0px 0px 234px;
}

.text_body {
  width: 950px;
  height: 560px;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: #777676;
  margin: 36px 0px 0px 234px;

}
.span_bold span{
  font-weight:bold;
}
