.heading__container {
    color:  #23b5eb ;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading__icon {
    height: 100%;
    background-color: white;
}

.heading__text {
    padding: 10px 10px 10px 0;
    font-size: 1.5rem;
}

.heading__text_small {
    font-size:1rem;
}