.custom-container {
  width: 100%;
  background: #4e0ab5;
  padding: 14px 9% 18px 9%;
  text-align: center;

}

.heading_yellow{
  color:#f1c40f;
}

.heading_white{
  color:#ffffff;
}

.fs-12{
  font-size:1.4rem;
}
.fs-10{
  font-size:1.2rem;
}
p{
  margin-bottom: 5px;
}