@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ummsr4');
  src:  url('fonts/icomoon.eot?ummsr4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ummsr4') format('truetype'),
    url('fonts/icomoon.woff?ummsr4') format('woff'),
    url('fonts/icomoon.svg?ummsr4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e900";
  color: #7dccfc;
}
.icon-alert:before {
  content: "\e901";
  color: #2100e7;
}
.icon-tick .path1:before {
  content: "\e902";
  color: rgb(25, 216, 115);
}
.icon-tick .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(230, 230, 230);
}
.icon-lock:before {
  content: "\e905";
  color: #157efb;
}
/*.icon-phone:before {*/
/*  content: "\e906";*/
/*  color: #2100e7;*/
/*}*/
.icon-email:before {
  content: "\e907";
  color: #2100e7;
}
